{
    "Client": {
        "Version": {
            "FirstRun": "false",
            "Release": {
                "FirstRun": "false",
                "LastBuildVersion": "8965"
            }
        },
        "Voice": {
            "InputDevice": "Default System Device",
            "OutputDevice": "Default System Device",
            "TransmissionKeys": "DirectInput:40:`:Keyboard"
        },
        "Toasts": {
            "ScreenPosition": "BottomRight",
            "Monitor": "0"
        },
        "GaClientId": "AB25131A-6746-448E-858E-35992C03FF60"
    },
    "fbb179b56cda42c2": {
        "Client": {
            "Language": "zhCN",
            "LoginSettings": {
                "AllowedRegions": "CN;US;EU;KR",
                "AllowedLocales": "deDE;enGB;enUS;esMX;esES;frFR;itIT;plPL;ptBR;ruRU;koKR;zhCN;zhTW"
            }
        },
        "Path": "C:\\魔兽世界\\Blizzard App",
        "Services": {
            "LastLoginRegion": "CN",
            "LastLoginAddress": "cn.actual.battle.net",
            "LastLoginTassadar": "www.battlenet.com.cn\/login"
        }
    },
    "Games": {
        "battle_net": {
            "ServerUid": "battle.net"
        },
        "wow": {
            "ServerUid": "wow_zhcn"
        }
    }
}
